.product-item {
  width: 25%;
  padding: 0 20px;
  min-width: 300px;
  max-width: 420px;
  max-height: 270px;
}

.product-card:hover {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.25s;
}

.product-detail-box {
  padding: 5% 10%;
  margin: 20px;
}

.product-detail-title {
  text-transform: uppercase;
  font-weight: bold;
}

.carousel-container {
  padding: 40px !important;
}