* {
  font-family: 'Nunito', sans-serif;
}

.container {
    width: 90%;
}

.flexible {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flexible > div {
  flex: 1;
}

.grid-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

